# Pulumi Configuration for 4-projects (development stack)
config:
  # Required
  foundation-4-projects:env: "development"
  foundation-4-projects:business_code: "bu1"
  foundation-4-projects:billing_account: "XXXXXX-XXXXXX-XXXXXX"
  foundation-4-projects:org_stack_name: "organization/vitruvian/1-org/production"

  # Optional
  # foundation-4-projects:project_prefix: "prj"
  # foundation-4-projects:folder_prefix: "fldr"
  # foundation-4-projects:budget_amount: "1000"
  # foundation-4-projects:peering_enabled: "true"
  # foundation-4-projects:cmek_enabled: "true"
