# Pulumi Configuration for 3-networks-svpc (nonproduction stack)
config:
  # Required
  foundation-3-networks-svpc:env: "nonproduction"
  foundation-3-networks-svpc:project_id: "prj-n-svpc"
  foundation-3-networks-svpc:parent_id: "organizations/YOUR_ORG_ID"

  # Optional
  # foundation-3-networks-svpc:region1: "us-central1"
  # foundation-3-networks-svpc:region2: "us-west1"
