# Pulumi Configuration for 5-app-infra/business_unit_1/development
config:
  5-app-infra-bu1-development:remote_state_bucket: "bkt-prj-b-seed-xxxx-tfstate"
  # 5-app-infra-bu1-development:region: "us-central1"
