# Pulumi Configuration for 1-org (production stack)
config:
  # Required
  foundation-1-org:org_id: "YOUR_ORG_ID"
  foundation-1-org:billing_account: "XXXXXX-XXXXXX-XXXXXX"
  foundation-1-org:bootstrap_stack_name: "organization/vitruvian/0-bootstrap/production"
  foundation-1-org:domains_to_allow: "example.com"

  # Optional
  # foundation-1-org:project_prefix: "prj"
  # foundation-1-org:folder_prefix: "fldr"
  # foundation-1-org:default_region: "us-central1"
  # foundation-1-org:scc_notification_filter: "state=\"ACTIVE\""
  # foundation-1-org:create_access_context_manager_policy: "true"
  # foundation-1-org:parent_folder: ""
