apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ project_kebab }}
  description: {{ project_name }}, stamped by the application initializer
spec:
  type: service
  lifecycle: experimental
  owner: platform-team
