# Pulumi Configuration for 3-networks-hub-and-spoke (production stack)
config:
  # Required
  foundation-3-networks-hub-and-spoke:env: "production"
  foundation-3-networks-hub-and-spoke:project_id: "prj-p-hub-and-spoke"
  foundation-3-networks-hub-and-spoke:parent_id: "organizations/YOUR_ORG_ID"

  # Optional
  # foundation-3-networks-hub-and-spoke:region1: "us-central1"
  # foundation-3-networks-hub-and-spoke:region2: "us-west1"
