# Pulumi
.pulumi/
Pulumi.dev.yaml
Pulumi.prod.yaml
Pulumi.nonprod.yaml

# Go
bin/
dist/
*.exe
*.test
*.out
vendor/

# OS
.DS_Store
.env

# Compiled stage binaries
foundation-*
0-bootstrap/foundation-0-bootstrap
1-org/foundation-1-org
2-environments/foundation-2-environments
